@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

body{
    background: linear-gradient(68.15deg, #111925 19.62%, #20375b 83.61% );
    color: #c5d9f3;
}

#cabecalho{
    display: flex;
    justify-content: center;
    align-items: baseline;
    box-shadow: 0px 4px 4px #16253c;
}

#nomeCinema{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: absolute;
    top: 50px;
    left: 100px;
    gap: 3px;
}

#Nome{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #c5d9f3;
}

#Logo{
    width: 40px;
    height: 40px;
}

#titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
}

#mapas{
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
    padding-bottom: 100px;
}

#final{
    border-top: 1px solid #c5d9f3;
    font-family: 'Raleway', sans-serif;
}

#Redes{
    padding: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h6{
    font-size: 15px;
}

.linkRedes{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #608dc8;
    text-decoration: none;
}

#final p{
    font-size: 13px;
}