@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

body{
    background: linear-gradient(68.15deg, #111925 19.62%, #20375b 83.61% ) no-repeat;
    color: #c5d9f3;
}

#nomeCinema{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: absolute;
    top: 50px;
    left: 100px;
    gap: 3px;
}

#Nome{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #c5d9f3;
}

#Logo{
    width: 40px;
    height: 40px;
}

#Login{
    display: flex;
    flex-direction: column;
}

#Login h4{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

.dadosUsuario{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    text-align: center;
}

#Entrar{
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #c5d9f3;
    color: #86b8f8;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;

}

#Entrar:hover{
    background-color: #c5d9f3;
    color: #111925;
    border: 1.5PX solid #2065ce;
}

#cadastro{
    padding: 20px;
    padding-bottom: 250px;
    margin: 90px;
    border-top: 0.4px solid ;
    width: 500px;
    font-family: 'Dosis', sans-serif;
}

#cadastro a{
    color: #4848e4;
}