@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

body{
    background: linear-gradient(68.15deg, #111925 16.62%, #20375b 85.61% );
    color: #c5d9f3;
}

#cabecalho{
    display: flex;
    justify-content: center;
    align-items: baseline;
    box-shadow: 0px 4px 4px #16253c;
}

#nomeCinema{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: absolute;
    top: 50px;
    left: 100px;
    gap: 3px;
}

#Nome{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #c5d9f3;
}

#titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
}

#Logo{
    width: 40px;
    height: 40px;
}

#Conteudo{
    padding: 140px;
    font-family: 'Raleway', sans-serif;
}

#precos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#precos h5{
    font-size: 20px;
}

#obs{
    margin: 100px;
    font-size: 15px; 
    color: rgb(167, 34, 34);
}

#final{
    border-top: 1px solid #c5d9f3;
    font-family: 'Raleway', sans-serif;
}

#Redes{
    padding: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h6{
    font-size: 15px;
}

.linkRedes{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #608dc8;
    text-decoration: none;
}

#final p{
    font-size: 13px;
}

